[Desktop Entry]
Version=1.1
Type=Application
Name=BIM
Comment=A batch image resizer and manipulator
TryExec=bim
Exec=bim %F
Icon=applications-graphics
MimeType=image/png;image/jpg;image/gif
Categories=Qt;KDE;Graphics;
Terminal=false