[Desktop Entry]
Version=1.1
Type=Application
Name=BIR
Comment=A batch image resizer and manipulator
TryExec=bir
Exec=bir %F
Icon=applications-graphics
MimeType=image/png;image/jpg;image/gif
Categories=Qt;KDE;Graphics;
Terminal=false