[Desktop Entry]
Version=1.0
Type=Application
Name=BIR
Comment=A batch image resizer and manipulator
GenericName=Image Resizer
TryExec=bir
Exec=bir %F
Icon=bir
MimeType=image/png;image/jpg;image/gif;
Categories=Graphics;2DGraphics;
Terminal=false
